<!doctype html>
<html>
  <body style="font-family: 'Hanna',serif">
    <div class="container mt-3">
      <header class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="/"> 홈으로 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/new">회원가입</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">로그인</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">김미현 생일축하 홈페이지</h3>
        <hr>
      </header>
    </div>

    <form action="/home/postcreate">
      <div class="form-group mt-3">
        <label for="exampleFormControlInput0">글쓴이</label>
        <input type="text" class="form-control"  name="name" placeholder="이름?">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">제목</label>
        <input type="text" class="form-control"  name="title" placeholder="제목?">
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">내용</label>
        <textarea name="content" class="form-control" placeholder="하고 싶은 말?"  rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">글쓰기</button>
    </form>

  </body>
</html>
