<!doctype html>
<html>
  <body >
    <form method="post" action="/home/postcreate">
      <div class="form-group mt-3">
        <label for="exampleFormControlInput1">제목</label>
        <input type="text" class="form-control"  name="title" placeholder="제목?">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">내용</label>
        <textarea name="content" class="form-control" placeholder="하고 싶은 말?"  rows="5"></textarea>
      </div>
      <input type="hidden" name="userid" value="<%=current_user.id%>" />
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" />
      <button type="submit" class="btn btn-primary">글쓰기</button>
    </form>
  </body>
</html>
